.homepage {
  display: flex;
  align-items: center;
}

.homepage img,
.homepage section {
  width: 50%;
  height: 100vh;
}

.homepage section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage a {
  color: black;
  text-decoration: none;
  margin: 10px 0;
}

.homepage a:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .homepage img {
    display: none;
  }

  .homepage section {
    background-image: url("https://bit.ly/3w98Nn5");
    background-size: cover;
    width: 100%;
    color: white;
  }

  .homepage a {
    color: white;
  }
}
