.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.navbar div {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.whiteColoredLink a {
  color: white;
}

.navbar ul {
  padding: 0;
}

@media (max-width: 750px) {
  .navbar a {
    color: white;
  }
}
